body {
    align-items: center;
    background-color: #3c3c3c;
    margin: 0;
    padding: 40px;
}

h1 {
    font-family: Inter;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.05em;
    text-align: left;
}

ul {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#container {
    margin: 20px 30px;
    padding: 0;
    color: #ffffff;
}